$font-size: 12px;

fieldset {
  padding: 5px;
  margin: 5px;
  position: relative;
  border-width: 1px;

  &:first-of-type {
    margin-top: 6px;
  }

  legend {
    font-weight: bold;
    font-size: $font-size;
  }
}

.input-group {
  display: flex;
  padding: 1px 2px;
  flex-direction: row;
  align-items: center;

  label {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    flex: 2;
    font-size: $font-size;
  }

  select {
    padding: 1px;
    margin: 0;
    font-size: $font-size;
  }

  input {
    font-size: $font-size;
    &[type="checkbox"] {
      cursor: pointer;
    }

    &[type="text"],
    &[type="number"] {
      width: calc(100% - 2px);
      padding: 1px;
      margin: 0;
      flex: 1;

      &:disabled {
        color: rgb(170, 170, 170);
      }
    }
  }

  .radio-select {
    $border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    outline: 1px solid black;
    border-radius: $border-radius;
    margin-bottom: 3px;

    .item {
      padding: 1px 5px 0 5px;
      cursor: pointer;

      &:not(:last-of-type) {
        border-right: 1px solid black;
      }

      &:first-of-type {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-of-type {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &.active {
        color: white;
        background-color: #2c3e50;
      }

      &.disabled {
        color: rgb(170, 170, 170);
        cursor: default;
      }
    }
  }
}